@charset "UTF-8";

body {
    font-family: Lato, "Microsoft YaHei", sans-serif;
    font-weight: 400;
    font-size: 1.1em
}

ul, li {
    list-style: none;
}

h1 {
    font-size: 3.5em;
    margin: 0 0 0.5em 0;
    margin-top: 0;
    font-weight: normal;
}


h2 {
    font-size: 2em;
    margin: 0 0 0.2em 0;
    margin-top: 0;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin: 0 0 0.1em 0;
    margin-top: 0;
    font-weight: normal;
}

h4 {
    font-size: 1.25em;
    margin: 0 0 0.1em 0;
    margin-top: 0;
    font-weight: normal;
}


p {
    font-size: 1.1em;
    margin: 0.5em 0
}

ul {
    font-size: 1.1em
}


a {
    color: #008a75;
    text-decoration: none;
    transition: 0.5s
}

a:hover {
    color: #9f3
}

a.highlight {
    color: #9f3
}

a.highlight:hover {
//  color: #10a6a6;
}

* {
    box-sizing: border-box;
}
