
/**
 * 全局变量
 */

$defaultPadding: 20px;

$rootColor: #00F7F7;

$defulutGray: #666;

$colors: #e0fffe;

$Titlecolors: #10a6a6;

$while: #fff;
$black: #111;

$colorF3: #f3f3f3;

$w25: 25%;

$pxZero: 0;

$defalutFontSize: 20px;
$bigFontSize: 28px;
$samllFontSize: 12px;

