@charset "UTF-8";

/**
 * 全局变量
 */

$defaultPadding: 20px;

//$rootColor: #00F7F7;
$rootColor: #91a8d0;

$defulutGray: #666;

//$colors: #e0fffe;
$colors: #ecfffb;

//$Titlecolors: #10a6a6;
//$Titlecolors: #034f84;
$Titlecolors: #5B7BBB;



$while: #fff;
$black: #111;

$colorF3: #f3f3f3;

$w25: 25%;

$pxZero: 0;

$defalutFontSize: 20px;
$bigFontSize: 24px;
$samllFontSize: 12px;

